body {
	background-image: url("../images/backgrounds/background2.gif");
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	/* Background transitions */
	transition: background-image 3s linear;
    -moz-transition: background-image 3s linear;
    -webkit-transition: background-image 3s linear;
    -ms-transition: background-image 3s linear;
	background-size: cover !important;
	color: white;
	margin: 0;
	font-weight: bold;
}
img{
	width: 100%;
	height: 100%;
	transition: all 0.2s ease;
}
img:hover{
	transform:scale(1.05);
}
#linklist{
	overflow: hidden;
	align-content: center;
	display: table;
	width: unset;
	margin-top: 5%;
}
.LinkFirst{
	display: inline-block;
	width: 200px;
	height: 200px;
	line-height: 90px;
	text-align: center;
	margin: 0;
	position: relative;
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;
	padding-right: 10px;
}
.LinkSecond{
	display: inline-block;
	width: 200px;
	height: 200px;
	line-height: 90px;
	text-align: center;
	margin: 0;
	position: relative;
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;
}
.LinkThird{
	display: inline-block;
	width: 200px;
	height: 200px;
	line-height: 90px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;
}
.LinkLast{
	display: inline-block;
	width: 200px;
	height: 200px;
	line-height: 90px;
	text-align: center;
	margin: 0;
	position: relative;
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;
	padding-left: 10px;
}
a:link {
	color: white;
	background-color: transparent; 
	text-decoration: none;
}
a:visited{
	color: white;
	background-color: transparent; 
    text-decoration: none;
}
a:hover{
	color: white;
	background-color: transparent; 
    text-decoration: none;
}
a:active{
	color: white;
	background-color: transparent; 
    text-decoration: none;
}
@media only screen and (max-width: 1225px) {
	img{
		height: 150px;
		width: 200px;
	}
	#linklist{
		width: 100%;
		margin-top: 0%;
	}
	.LinkFirst{
		padding-left: 0%;
		background-color: red;
		transform: scale(1);
		clear: both;
		margin-top: 50px;
		width: 100%;
		height: 150px;
		margin-left: 0%;
		margin-right: 0%;
		background-color: #3692fb;
		float: left;
	}
	.LinkSecond{
		background-color: #39599a;
		transform: scale(1);
		clear: both;
		margin-top: 5px;
		width: 100%;
		height: 150px;
		margin-left: 0%;
		margin-right: 0%;
		float: left;
	}
	.LinkThird{
		background-color: #86bef6;
		transform: scale(1);
		clear: both;
		margin-top: 5px;
		width: 100%;
		height: 150px;
		margin-right: 0px;
		margin-left: 0%;
		margin-right: 0%;
		float: left;
	}
	.LinkLast{
		padding-right: 0%;
		background-color: red;
		transform: scale(1);
		clear: both;
		margin-top: 0px;
		width: 100%;
		margin-top: 5px;
		height: 150px;
		margin-left: 0%;
		margin-right: 0%;
		float: left;
	}
	.LinkSecond:hover > img{
    transform: scale(0.7);
    transition: all .3s ease-in-out;
	}
	.LinkFirst:hover > img{
    transform: scale(0.7);
    transition: all .3s ease-in-out;
	}
	.LinkThird:hover > img{
    transform: scale(0.7);
    transition: all .3s ease-in-out;
	}
	.LinkLast:hover > img{
    transform: scale(0.7);
    transition: all .3s ease-in-out;
	}
	.LinkSecond:hover{
		transform:scale(1.1);
		transition: all .2s ease-in-out;
	}
	.LinkFirst:hover{
		transform:scale(1.1);
		transition: all .2s ease-in-out;
	}
	.LinkThird:hover{
		transform:scale(1.1);
		transition: all .2s ease-in-out;
	}
	.LinkLast:hover{
		transform:scale(1.1);
		transition: all .2s ease-in-out;
	}
}